mixin contactsMap(items, itemsPath)
	each item, i in items
		if i === 0
			input(id=item.id type='radio' name=item.name value=item.id checked)
		else
			input(id=item.id type='radio' name=item.name value=item.id)
	
	.contacts-map__controls.clearfix
		each item in items
			label(for=item.id)
				| от
				span.contacts-map__controls--metro
				| #{item.title}
	
	.contacts-map__slider
		each itemPath, j in itemsPath
			if j === 0
				input(id=itemPath.id type='radio' name=itemPath.name value=itemPath.id checked)
			else
				input(id=itemPath.id type='radio' name=itemPath.name value=itemPath.id)
		
		.contacts-map__path
			.contacts-map__controls--path
				each itemPath in itemsPath
					label(for=itemPath.id)=itemPath.id
			.contacts-map__path-slider
				each item in items
					each itemPath in itemsPath
						.contacts-map__path-slider-item(class='contacts-map__path-slider-item--'+item.id+'-'+itemPath.id)=item.id+itemPath.id
		
		.contacts-map__map
			each item in items
				each itemPath in itemsPath
					.contacts-map__map-item(class='contacts-map__map-item--'+item.id+'-'+itemPath.id)=item.id+itemPath.id



.contacts-map
	+contactsMap([{
		id: 'varsh',
		name: 'metro',
		title: 'Варшавкая'
	}, {
		id: 'kash',
		name: 'metro',
		title: 'Каширская'
	}], [{
		id: 'foot',
		name: 'path'
	}, {
		id: 'car',
		name: 'path'
	}, {
		id: 'bus',
		name: 'path'
	}])