include prod-items/item-catalog

-function productsDesc(name, value) {
	-this.name=name;
	-this.value=value;
-}

-var productsDescArr = []
mixin productsDescArrCr(array, items)
	each arr in items
		-var arrObj = []
		each item in arr
			-var obj = applyCtor(productsDesc, item)
			-arrObj.push(obj)
		-productsDescArr.push(arrObj)
+productsDescArrCr(productsDescArr, productsDescItems)

-function productsVal(circulation, price, action) {
	-this.circulation=circulation;
	-this.price=price;
	-this.action=action;
-}

-var productsValArr = []
mixin productsValArrCr(array, items)
	each arr in items
		-var arrObj = []
		each item in arr
			-var obj = applyCtor(productsVal, item)
			-arrObj.push(obj)
		-productsValArr.push(arrObj)
+productsValArrCr(productsValArr, productsValItems)

-function productsTableHead(id, title, subtitle) {
	-this.id=id;
	-this.title=title;
	-this.subtitle=subtitle;
-}

-var productsTableHeadArr = []
mixin productsTableHeadArrCr(item)
	-var arr = []
	-arr.push(['circulation', 'Тираж', 'штук'])
	-arr.push(['price', 'Цена', 'рублей'])
	-arr.push(['action', 'Акция', ''])
	
	each item in arr
		-var obj = applyCtor(productsTableHead, item)
		-productsTableHeadArr.push(obj)
+productsTableHeadArrCr(productsTableHeadArr)

-var productValsArr = []
mixin productValsArrCr(heads, arr)
	each items in arr
		-var arrCirculation = []
		-var arrPrice = []
		-var arrAction = []
		each item in items
			-arrCirculation.push(item.circulation)
			-arrPrice.push(item.price)
			-arrAction.push(item.action)
		
		-var arrObj = []
		each head in heads
			-var obj = {}
			-obj['id']=head.id
			-obj['title']=head.title
			-obj['subtitle']=head.subtitle
			if (head.id == 'circulation')
				-obj['vals']=arrCirculation
			else if (head.id == 'price')
				-obj['vals']=arrPrice
			else if (head.id == 'action')
				-obj['vals']=arrAction
			-arrObj.push(obj)
		-productValsArr.push(arrObj)

+productValsArrCr(productsTableHeadArr, productsValArr)