include production_vars

mixin productDesc (items)
	each item in items
		p.product-price__desc-item
			span.product-price__desc--name=item.name
			span.product-price__desc--value=item.value
	span *бумага, цветность

mixin productVal(items)
	each item in items
		.product-price__col(class='product-price__col--'+item.id)
			.product-price__title=item.title
				span.product__text--small=item.subtitle
			.produc-price__vals
				each val in item.vals
					.produc-price__val=val
			if(item.id == 'price')
				a(href='') рассчитать заказ

mixin productTable(descArr, valsArr)
	-for(var i = 0; i < descArr.length; i++) {
		-var desc = descArr[i];
		-var vals = valsArr[i];
		.col-xs-24
			.product-price
				.product-price__desc
					+productDesc(desc)
				+productVal(vals)
	-}


.title-reg.title-low Каталог
.block-reg.product-block.product-block--catalog
	.row
		.col-md-16
			figure.product-img
				img(src='/', alt='Каталог')
		.col-md-8
			.product-desc
				.product-desc__title КАТАЛОГ, -а, м.
				.product-desc__text
					p 1. Составленный в определённом порядке перечень каких-нибудь однородных предметов (книг, экспонатов, товаров). Библиотечный каталог Издательский план-к.
					p 2. Вообще перечень, список, исчисляющий какие-нибудь предметы, явления. Каталог ледников. Каталог тайфунов. Звёздный каталог Строительные детали унифицированного каталога.
					p || прилагательное каталожный, -ая, -ое (к 1 значение).
		
		+productTable(productsDescArr, productValsArr)
			
		