include production_vars

mixin productDesc (items)
	each item in items
		p.product-price__desc-item
			span.product-price__desc--name=item.name
			span.product-price__desc--value=item.value
	span.product-price__desc--subtext *бумага, цветность

mixin productVal(items, action)
	each item in items
		if (action.action === 1 && item.id == 'action')
			block productVals
				.product-price__col(class='product-price__col--'+item.id)
					.product-price__title(class='product-price__title--'+item.id)=item.title
						span.product-price__title--small=item.subtitle
					.product-price__vals
						each val in item.vals
							.product-price__val=val
					if(item.id == 'price')
						a.product-price__calculate(href='/') рассчитать заказ
		else if (item.id != 'action')
			block productVals

mixin productTable(descArr, valsArr, actionArr)
	-for(var i = 0; i < descArr.length; i++) {
		-var desc = descArr[i];
		-var vals = valsArr[i];
		-var action = actionArr[i];
		
		.product-price
			.product-price__table.clearfix
				.product-price__desc
					+productDesc(desc)
				+productVal(vals, action)
	-}

.title-reg.title-low Каталог
.block-reg.product-block.product-block--catalog
	.product-desc-part
		.row
			.col-md-15
				figure.product__img
					picture
						source(media="(max-width: 513px)" srcset="../images/products/products--catalog-448.jpg 448w, ../images/products/products--catalog-672.jpg 672w, ../images/products/products--catalog-896.jpg 896w, ../images/products/products--catalog-1344.jpg 1344w")
						img(src="../images/products/products--catalog-672.jpg" width="672", srcset="../images/products/products--catalog-1008.jpg 1008w, ../images/products/products--catalog-1344.jpg 1344w, ../images/products/products--catalog-2016.jpg 2016w", alt="Каталог")
			.col-md-9
				.product-desc
					.product-desc__title #[b КАТАЛОГ], -а, м.
					.product-desc__text
						p 1. Составленный в определённом порядке перечень каких-нибудь однородных предметов (книг, экспонатов, товаров). #[ i Библиотечный каталог Издательский план-к.]
						p 2. Вообще перечень, список, исчисляющий какие-нибудь предметы, явления. #[i Каталог ледников. Каталог тайфунов. Звёздный каталог Строительные детали унифицированного каталога.]
						p || #[i прилагательное] #[b каталожный], -ая, -ое (к 1 значение).
		
	+productTable(productsDescArr, productValsArr, productsActionItems)
			
		